<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Safe Drinks.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AF2565491DEBAA9900509228</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF25655D1DEBAA9A00509228</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF2565681DEBAA9A00509228</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
